# Config for y2s

CONFIG_MODEL_Y2S=y

# Camera
# CONFIG_CAMERA_HST_V01 is not set
CONFIG_CAMERA_HST_V02=y
CONFIG_CAMERA_CIS_TOF_BUCK_USE=y
CONFIG_CAMERA_CIS_IMX516_OBJ=y
CONFIG_CAMERA_CIS_IMX518_OBJ=y

# Lindroid
CONFIG_SYSVIPC=y
CONFIG_UTS_NS=y
CONFIG_PID_NS=y
CONFIG_IPC_NS=y
CONFIG_USER_NS=y
CONFIG_NET_NS=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_FREEZER=y
CONFIG_DRM_LINDROID_EVDI=y
